body{
	margin: 0px 20px;
}

h1{
	padding: 8px;
}
.ms-Icon{
	padding-right:10px;
	font-size: 20px
}
.ms-ContextualMenu.is-open  {
      position: relative;
      margin-bottom: 10px;
    }
    .ms-Dialog {
      position: relative;
      margin-bottom: 10px;
    }
    .ms-NavBar-item .ms-ContextualMenu {
      position: absolute;
    }
    .ms-CommandBar .ms-ContextualMenu {
      position: absolute;
    }

.dropdown{
  position: relative;
  padding-bottom: 10px;
}

.course-item{
  padding-left: 0;
  padding-right : 0;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 35px;
}
.navbar-nav>li{
  padding-left:10px;
  padding-top:15px;
}